<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url() }}/assets/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url() }}/assets/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url() }}/assets/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url() }}/assets/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url() }}/assets/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url() }}/assets/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url() }}/assets/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url() }}/assets/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}/assets/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ base_url() }}/assets/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}/assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url() }}/assets/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}/assets/img/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ base_url() }}/assets/img/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ base_url() }}/assets/img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/styles/style.css">
  </head>
  <body>
    <header>
      <div class="header__pokeball"><a href="{{ path_for('home') }}"><img src="{{ base_url() }}/assets/img/pokeball.png" alt="pokeball" width="100px"></a></div>
      <div class="header-text">
        <h1><a href="{{ path_for('home') }}">Pokedex</a></h1>
        <p class="header-text__legend">The very first pokemon register.</p>
      </div>
      <img class="header__pikachu" src="{{ base_url() }}/assets/img/pikachu.png" width="75px" alt="pika pika">
    </header>

    <nav class="navbar navbar-light bg-light justify-content-between">
  <form class="form-inline" method="get" action="{{ path_for('search') }}">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
    <a href="{{ path_for('types') }}">See all types</a>
</nav>